CREATE EXTERNAL TABLE [AdventureWorksDW].[EXT_aw].[DimAccount]
WITH (
	LOCATION='/AdventureWorksDW/dbo_DimAccount',
	DATA_SOURCE = AZURE_STAGING_STORAGE,
	FILE_FORMAT = DelimitedFileFormat
	)
AS 
SELECT * FROM [AdventureWorksDW].[dbo].[DimAccount]
OPTION (LABEL = 'Export_Table_AdventureWorksDW.dbo.DimAccount')

