################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/AzureSynapseScriptsAndAccelerators/v16/.suo
/Migration/SQLServer/1A_ExtractCodeDDLs/.vs/slnx.sqlite
/Migration/SQLServer/1A_ExtractCodeDDLs/.vs/ProjectSettings.json
slnx.sqlite
ProjectSettings.json
/Migration/SQLServer/1A_ExtractCodeDDLs/.vs/1A_ExtractCodeDDLs/v16/.suo
/Migration/SQLServer/1A_ExtractCodeDDLs/.vs/VSWorkspaceState.json
