1_TranslateTableDDLs/*_gailz.json
1_TranslateTableDDLs/*_gailz.xlsx
2_ExportSourceDataWithBCP/*_gailz.json
2A_GeneratePolybaseExportScripts/*_gailz.json
3_LoadDataIntoAzureStorage/*_gailz.json
4_GenerateCopyIntoScripts/*_gailz.json
4_GenerateCopyIntoScripts/_gailz.csv
5_RunSqlFilesInFolder/*_gailz.json