/* 12. Reorganize Table Index */
-- Code Generated at 08/02/2021 13:57:50
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimAccount REORGANIZE; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimCurrency REORGANIZE; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimCustomer REORGANIZE; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimDate REORGANIZE; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimDepartmentGroup REORGANIZE; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimGeography REORGANIZE; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimOrganization REORGANIZE; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimProductCategory REORGANIZE; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimProductSubcategory REORGANIZE; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimPromotion REORGANIZE; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimReseller REORGANIZE; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimSalesReason REORGANIZE; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimScenario REORGANIZE; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.FactCallCenter REORGANIZE; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.FactCurrencyRate REORGANIZE; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.FactFinance REORGANIZE; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.FactInternetSales REORGANIZE; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.FactInternetSalesReason REORGANIZE; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.FactProductInventory REORGANIZE; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.FactResellerSales REORGANIZE; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.FactSalesQuota REORGANIZE; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.FactSurveyResponse REORGANIZE; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.ProspectiveBuyer REORGANIZE; 
GO 
 
