/* 11. Rebuild Table Index */
-- Code Generated at 08/02/2021 13:57:50
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimAccount REBUILD; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimCurrency REBUILD; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimCustomer REBUILD; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimDate REBUILD; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimDepartmentGroup REBUILD; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimGeography REBUILD; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimOrganization REBUILD; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimProductCategory REBUILD; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimProductSubcategory REBUILD; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimPromotion REBUILD; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimReseller REBUILD; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimSalesReason REBUILD; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.DimScenario REBUILD; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.FactCallCenter REBUILD; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.FactCurrencyRate REBUILD; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.FactFinance REBUILD; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.FactInternetSales REBUILD; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.FactInternetSalesReason REBUILD; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.FactProductInventory REBUILD; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.FactResellerSales REBUILD; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.FactSalesQuota REBUILD; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.FactSurveyResponse REBUILD; 
GO 
 
ALTER INDEX ALL ON SqlPoolDatabaseName.edw.ProspectiveBuyer REBUILD; 
GO 
 
