CREATE TABLE aw.[FactSalesQuota]
(
	[SalesQuotaKey] int NOT NULL,
	[EmployeeKey] int NOT NULL,
	[DateKey] int NOT NULL,
	[CalendarYear] smallint NOT NULL,
	[CalendarQuarter] tinyint NOT NULL,
	[SalesAmountQuota] money NOT NULL
)
WITH(CLUSTERED COLUMNSTORE INDEX, DISTRIBUTION = HASH([SalesQuotaKey]))

