CREATE TABLE aw.[AdventureWorksDWBuildVersion]
(
	[DBVersion] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VersionDate] datetime NOT NULL
)
WITH(HEAP, DISTRIBUTION = REPLICATE)

